<th:block th:fragment="parts">
    <div class="detailToolBar">
        <i-form inline @submit.native.prevent>
            <Row>
                <form-item>
                    <i-select v-model="systemId" placeholder="系统" style="width: 200px" @on-change="systemChange">
                        <i-option th:each="item: ${systemRows}" th:value="${item.id}" th:text="${item.name}"></i-option>
                    </i-select>
                </form-item>
                <form-item>
                    <i-input v-model="keyword"  placeholder="请输入关键字..." style="width: 200px"/>
                </form-item>
                <form-item>
                    <i-button @click = "loadPageData(1);">查询</i-button>
                    <i-button @click = "addNew();">新增</i-button>
                </form-item>
            </Row>
        </i-form>
    </div>
</th:block>