body {

}

.layout{
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.layout-logo{
    width: 100px;
    height: 30px;
    background: #5b6270;
    border-radius: 3px;
    float: left;
    position: relative;
    top: 15px;
    left: 20px;

}
.layout-nav{
    width: 420px;
    margin: 0 auto;
}
.layout-breadcrumb{
    padding: 10px 15px 0;
}
.layout-content{
    margin: 15px;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
}
.layout-content-main{
    /*padding: 10px;*/
    min-height: 700px;
}
.layout-copy{
    text-align: center;
    padding: 10px 0 20px;
    color: #9ea7b4;
}
.layout-left{
    background: #50596e;
    width: 15%;
}
.layout-body{
    width: 85%;
}
.layout-header{
    height: 60px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.layout-logo-left{
    width: 90%;
    height: 30px;
    line-height: 30px;
    background: #5b6270;
    border-radius: 3px;
    margin: 15px auto;
    color: #a6aaad;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}
iframe {
    width: 100%;
    height: auto;
    min-height: 700px;
    border: none;
}