<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="comm/head.html :: include" />
    <script th:inline="javascript">
        store.systemId = /*[[${systemId}]]*/ "";
        store.keyword = "";
        store.modalEdit = false
        store.pageNo = 1;
        store.totalSize = 0;
        store.rows = [];
    </script>
    <script th:inline="javascript">
        store.columns = [
            {
                type: 'selection',
                width: 60,
                align: 'center',
                key: "allow"
            },
            {title: '角色', key: 'name'},
            {title: '备注', key: 'remark'}
        ];
    </script>

    <script th:inline="javascript">
        var moduleApi = /*[[${moduleApi}]]*/ "";
        var userId = /*[[${userId}]]*/ "";
        var moduleCode = /*[[${moduleCode}]]*/ "";
        methods.loadPageData = function(pageNo) {
            var param = {
                systemId: store.systemId,
                keyword: store.keyword,
                userId: userId,
                pageNo: pageNo,
                pageSize: 15
            };
            httpClient.postJson(`/${moduleApi}/queryPage`,  param ,function(op){
                if (!op.success){
                    window.vue.$Notice.error({title: '系统错误', desc: op.message})
                    setTimeout(function (){
                        window.vue.$Loading.error();
                    }, 100)
                    return;
                }
                store.rows = op.data.rows;
                store.totalSize = op.data.totalSize;
            })
            store.pageNo = pageNo;
        }
        methods.addNew = function() {
            store.formItem = {}
            store.modalEdit = true
        }
        methods.edit = function(row) {
            store.formItem = row
            store.modalEdit = true
        }
        methods.allowUserRole = function(rows, selectedRows) {
            var param = {
                userId: userId,
                rows: rows,
                selectedRows: selectedRows
            }
            httpClient.postJson(`/${moduleApi}/allowUserRole`, param ,function(op){
                if (!op.success){
                    window.vue.$Notice.error({title: '系统错误', desc: op.message})
                    setTimeout(function (){
                        window.vue.$Loading.error();
                    }, 100)
                    return;
                }
                window.vue.$Notice.info({title: "分配成功"})
                methods.loadPageData(store.pageNo)
            })
        }
        methods.cancel = function() {

        }
        methods.pageChange = function (pageNo) {
            methods.loadPageData(pageNo);
        };


        methods.onSelectChange = function(selectRows) {
            console.log("selectRows => ", selectRows)
            methods.allowUserRole(store.rows, selectRows)
        }

        methods.systemChange = function(value) {
            window.location.href = `/${moduleCode}/list?systemId=${value}&userId=${userId}`
        }

    </script>
    <script th:inline="javascript">
        $(function(){
            setTimeout(function(){
                methods.loadPageData(1);
            }, 500);
        });
    </script>
</head>
<body>

<div id="app">
    <div class="detailToolBar">
        <i-form inline @submit.native.prevent>
            <Row>
                <form-item>
                    <i-select v-model="systemId" placeholder="系统" style="width: 200px" @on-change="systemChange">
                        <i-option th:each="item: ${systemRows}" th:value="${item.id}" th:text="${item.name}"></i-option>
                    </i-select>
                </form-item>
                <form-item>
                    <i-input v-model="keyword"  placeholder="请输入关键字..." style="width: 200px"/>
                </form-item>
                <form-item>
                    <i-button @click = "loadPageData(1);">查询</i-button>
                    <!--<i-button onclick = "window.parent.callCommForm('测试', '/user-role/list?userId=admin')">测试</i-button>-->
                </form-item>
            </Row>
        </i-form>
    </div>
    <i-table highlight-row ref="currentRowTable" :columns="columns" :data="rows"
             @on-selection-change="onSelectChange"
    ></i-table>
    <div style="width: 100%; text-align: center">
        <Page :total="totalSize" :page-size="15" :current="pageNo" show-total @on-change="pageChange"/>
    </div>
</div>

</body>
</html>