<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="comm/head.html :: include" />
    <script th:inline="javascript">
        var moduleApi = /*[[${moduleApi}]]*/ "";
        var moduleCode = /*[[${moduleCode}]]*/ "";
        store.formItem = {}
        store.systemId = /*[[${systemId}]]*/ "";
        var formItemJson = /*[[${formItemJson}]]*/ "";
        store.formItem = JSON.parse(formItemJson)
        store.formItem.bizStatus = store.formItem.bizStatus + ""

        methods.reset = function() {
            window.location.reload()
        }

        methods.save = function() {
            httpClient.postJson(`/${moduleApi}/save`, store.formItem ,function(op){
                if (!op.success){
                    window.vue.$Notice.error({title: '系统错误', desc: op.message})
                    setTimeout(function (){
                        window.vue.$Loading.error();
                    }, 100)
                    return;
                }
                store.formItem = op.data
                window.vue.$Notice.info({title: '保存成功!'})
                setTimeout(function(){
                    window.location.href = `/${moduleCode}/edit?systemId=${store.systemId}&id=${op.data.id}`
                }, 500)
            })
        }
    </script>
</head>
<body>

<div id="app">
    <i-form inline :label-width='100' v-model="formItem"  style=''>
        <Row>
            <form-item label='名称' style='width: 90%; margin-bottom: 5px' >
                <i-input v-model='formItem.name'  placeholder='名称' style='width: 100%' />
            </form-item>
            <form-item label='URL' style='width: 90%; margin-bottom: 5px' >
                <i-input v-model='formItem.url'  placeholder='url' style='width: 100%' />
            </form-item>
            <form-item label='上级菜单' style='width: 90%; margin-bottom: 5px' >
                <i-select v-model='formItem.parentId'  placeholder='上级菜单' style='width: 100%' />
                    <i-option th:each="item: ${rootMenus}" th:value="${item.id}" th:text="${item.name}"></i-option>
                </i-select>
            </form-item>
            <form-item label='排序' style='width: 90%; margin-bottom: 5px' >
                <i-input v-model='formItem.sortNo'  placeholder='排序' style='width: 100%' />
            </form-item>
            <form-item label='状态' style='width: 90%; margin-bottom: 5px' >
                <i-select v-model='formItem.bizStatus'  placeholder='状态' style='width: 100%' />
                    <i-option value="0">启用</i-option>
                    <i-option value="1">禁用</i-option>
                </i-select>
            </form-item>
            <form-item label='备注' style='width: 90%; margin-bottom: 5px' >
                <i-input v-model='formItem.remark'  placeholder='请输入备注...' style='width: 100%' />
            </form-item>
         </Row>
        <Row style="text-align: center">
            <i-button @click="reset" >重置</i-button>
            <i-button @click="save" type="primary" >保存</i-button>
        </Row>
    </i-form>
</div>

</body>
</html>
