<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="comm/head.html :: include" />
    <script th:inline="javascript">
        var moduleApi = /*[[${moduleApi}]]*/ "";
        store.formItem = {}
        var formItemJson = /*[[${formItemJson}]]*/ "";
        store.formItem = JSON.parse(formItemJson)
        store.formItem.password = ""

        methods.save = function() {
            httpClient.postJson(`/${moduleApi}/editPassword`, store.formItem ,function(op){
                if (!op.success){
                    window.vue.$Notice.error({title: '系统错误', desc: op.message})
                    setTimeout(function (){
                        window.vue.$Loading.error();
                    }, 100)
                    return;
                }
                store.formItem = op.data
                window.vue.$Notice.info({title: '保存成功!'})
            })
        }
    </script>
</head>
<body>

<div id="app">
    <i-form inline :label-width='100' v-model="formItem"  style=''>
        <Row>
            <form-item label='旧密码' style='width: 90%; margin-bottom: 5px' >
                <i-input v-model='formItem.password' type="password"  placeholder='请输入旧密码...'  required="t" style='width: 80%' />
            </form-item>
            <form-item label='新密码' style='width: 90%; margin-bottom: 5px' >
                <i-input v-model='formItem.newPassword' type="password"  placeholder='请输入新密码...' style='width: 80%' />
            </form-item>
            <form-item label='确认新密码' style='width: 90%; margin-bottom: 5px' >
                <i-input v-model='formItem.confirmPassword' type="password"  placeholder='请输入确认新密码...' style='width: 80%' />
            </form-item>
        </Row>
        <Row style="text-align: center">
            <i-button @click="save" type="primary" >保存</i-button>
        </Row>
    </i-form>
</div>

</body>
</html>
