<footer th:fragment="include">
    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" href="//oss-erp2.xmhougu.com/hougu-bi/open/iview4.4/styles/iview.css">
    <script type="text/javascript" src="//oss-erp2.xmhougu.com/hougu-bi/open/vue/vue.min.js"></script>
    <script type="text/javascript" src="//oss-erp2.xmhougu.com/hougu-bi/open/vue/vue.obj.js"></script>
    <script type="text/javascript" src="//oss-erp2.xmhougu.com/hougu-bi/open/iview4.4/iview.min.js"></script>
    <script type="text/javascript" src="//oss-erp2.xmhougu.com/hougu-bi/open/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//oss-erp2.xmhougu.com/hougu-bi/open/js/http-client.js"></script>
    <script type="text/javascript" src="//oss-erp2.xmhougu.com/hougu-bi/open/js/config.js"></script>
    <script type="text/javascript" src="//oss-erp2.xmhougu.com/hougu-bi/open/js/commons.js"></script>
    <script type="text/javascript" src="//oss-erp2.xmhougu.com/hougu-bi/open/js/datetimeutils.js"></script>
    <script type="text/javascript" src="//oss-erp2.xmhougu.com/hougu-bi/open/js/cookieUtils.js"></script>
    <script type="text/javascript" src="/comm/browser-form.js"></script>
    <script type="text/javascript" src="/comm/api-utils.js"></script>
    <link rel="stylesheet" href="/styles/light.css">
    <th:block th:include="comm/loading.html :: parts" />
</footer>

