<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="comm/head.html :: include" />
    <script th:inline="javascript">
        store.systemId = /*[[${systemId}]]*/ "";
        store.keyword = "";
        store.modalEdit = false
        store.modalPermissionEdit = false
        store.formItem = {}
        store.pageNo = 1;
        store.totalSize = 0;
        store.rows = [];
        var moduleApi = /*[[${moduleApi}]]*/ "";
        var moduleCode = /*[[${moduleCode}]]*/ "";
        store.columns = [
            {title: '名称', key: 'name'},
            {title: '操作', key: 'action',
                render: function (h, p) {
                    return h('Dropdown',{
                        props:{
                            trigger:"click",
                            transfer: true  //此参数避免下拉框在边界时，被表格遮住
                        },
                        on:{
                            'on-click': (value)=>{
                                if (value === "permission") {
                                    methods.editPermission(p.row)
                                }
                                if (value === "edit") {
                                    methods.edit(p.row)
                                }
                                if (value === "delete") {
                                    methods.delete(p.row)
                                }
                            }
                        }
                    }, [
                        h('a',[
                            h('span', '管理'),
                            h('Icon',{
                                props: {
                                    type: 'md-arrow-dropdown',
                                    size:'18'
                                }
                            })
                        ]),
                        h('DropdownMenu',{
                                slot: "list"
                            },
                            [
                                h('DropdownItem',{
                                    props:{
                                        name: 'permission'
                                    }
                                }, '权限'),
                                h('DropdownItem',{
                                    props:{
                                        name: 'edit'
                                    }
                                }, '修改'),
                                h('DropdownItem',{
                                    props:{
                                        name: 'delete'
                                    }
                                }, '删除')
                            ]
                        )
                    ]);
                }
            },
            {title: '状态', key: 'bizStatus',
                render: function (h, p) {
                    return h('Label',{}, p.row.bizStatus === 0 ? '启用' : '禁用')
                }
            },
            {title: '备注', key: 'remark'}
        ];
        methods.loadPageData = function(pageNo) {
            var param = {
                systemId: store.systemId,
                keyword: store.keyword,
                pageNo: pageNo,
                pageSize: 15
            };
            httpClient.postJson(`/${moduleApi}/queryPage`,  param ,function(op){
                if (!op.success){
                    window.vue.$Notice.error({title: '系统错误', desc: op.message})
                    setTimeout(function (){
                        window.vue.$Loading.error();
                    }, 100)
                    return;
                }
                store.rows = op.data.rows;
                store.totalSize = op.data.totalSize;
            })
            store.pageNo = pageNo;
        }
        methods.addNew = function() {
            window.parent.callCommForm("添加", `/${moduleCode}/edit?systemId=${store.systemId}`, 200, 500)
        }
        methods.edit = function(row) {
            window.parent.callCommForm("修改", `/${moduleCode}/edit?systemId=${store.systemId}&id=${row.id}`, 200, 500)
        }
        methods.delete = function(row) {
            var param = {
                ids: [row.id]
            }
            window.parent.confirmForm("提示", "您确定删除此行数据?", function(){
                httpClient.postJson(`/${moduleApi}/delete`,  param ,function(op){
                    if (!op.success){
                        window.vue.$Notice.error({title: '系统错误', desc: op.message})
                        setTimeout(function (){
                            window.vue.$Loading.error();
                        }, 100)
                        return;
                    }
                    window.vue.$Notice.info({title: '删除成功!'})
                    methods.loadPageData(store.pageNo)
                })
            })
        }
        methods.editPermission = function(row) {
            /*var url = `/role-permission/list?permissionId=${row.id}`
             $('#iFrameRolePermission').attr("src", url)
             store.modalPermissionEdit = true
            */
            window.parent.callCommForm("修改", `/rbac/role-permission/list?roleId=${row.id}`, 500, 700)
        }
        methods.save = function() {
            httpClient.postJson(`/${moduleApi}/save`, store.formItem ,function(op){
                if (!op.success){
                    window.vue.$Notice.error({title: '系统错误', desc: op.message})
                    setTimeout(function (){
                        window.vue.$Loading.error();
                    }, 100)
                    return;
                }
                window.vue.$Notice.info({title: '保存成功!'})
                store.modalEdit = false
                methods.loadPageData(store.pageNo)
            })
        }
        methods.cancel = function() {

        }
        methods.pageChange = function (pageNo) {
            methods.loadPageData(pageNo);
        };

        methods.systemChange = function(value) {
            window.location.href = `/${moduleCode}/list?systemId=${value}`
        }
        $(function(){
            setTimeout(function(){
                methods.loadPageData(1);
            }, 500);
        });
    </script>
</head>
<body>

<div id="app">
    <div class="detailToolBar">
        <i-form inline @submit.native.prevent>
            <Row>
                <form-item>
                    <i-select v-model="systemId" placeholder="系统" style="width: 200px" @on-change="systemChange">
                        <i-option th:each="item: ${systemRows}" th:value="${item.id}" th:text="${item.name}"></i-option>
                    </i-select>
                </form-item>
                <form-item>
                    <i-input v-model="keyword"  placeholder="请输入关键字..." style="width: 200px"/>
                </form-item>
                <form-item>
                    <i-button @click = "loadPageData(1);">查询</i-button>
                    <i-button @click = "addNew();">新增</i-button>
                </form-item>
            </Row>
        </i-form>
    </div>
    <i-table highlight-row ref="currentRowTable" :columns="columns" :data="rows"></i-table>
    <div style="width: 100%; text-align: center">
        <Page :total="totalSize" :page-size="15" :current="pageNo" show-total @on-change="pageChange"/>
    </div>
</div>

</body>
</html>
